<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div th:replace="layout/template-layout :: headerAsset"></div>
        
        <!--Navbar-->
        <nav th:replace="layout/template-layout :: navbar"></nav>
        
        <!--Content-->
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="card mt-4">
                        <div class="card-header d-flex align-items-center">
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h5>Belonging Form</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate th:action="@{/belonging/create}" th:object="${belonging}" method="POST">
                                <div class="input-group mb-3">
                                    <label class="me-5">Name</label>
                                    <input type="text" class="form-control" name="name" id="firstName" th:field="*{name}" required/>
                                    <div class="invalid-feedback">
                                        Name harus diisi.
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <label class="me-4">Quantity</label>
                                    <input type="text" class="form-control" name="quantity" id="lasttName" th:field="*{quantity}" required/>                                    
                                    <div class="invalid-feedback">
                                        Quantity harus diisi.
                                    </div>
                                </div>
                                
                                <div class="input-group mb-3">
                                    <label class="me-4">Person Id</label>
                                    <input type="text" class="form-control" name="person.id" id="person.id" th:field="*{person.id}" required/>                                    
                                    <div class="invalid-feedback">
                                        Person Id harus diisi.
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-sm btn-primary">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:replace="layout/template-layout :: asset"></div>



