<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:replace="layout/template-layout :: headerAsset"></div>
        
        <!--Navbar-->
        <nav th:replace="layout/template-layout :: navbar"></nav>
        
        <!--Content-->
        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card mt-4">
                        <div class="card-header d-flex align-items-center">
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h5>Person Detail</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 th:text="'Id : '+${person.id}"></h4>
                            <h4 th:text="'Full Name : '+${person.firstName} + ' ' + ${person.lastName}"></h4>
                            <h4 th:text="'Gender : '+${person.gender}"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:replace="layout/template-layout :: asset"></div>
        
<!--        <h2 th:text="'Id : '+${person.id}"></h2>
        <h2 th:text="'Full Name : '+${person.firstName} + ' ' + ${person.lastName}"></h2>
        <h2 th:text="'Gender : '+${person.gender}"></h2>-->
        
        
